.input__div {
  margin: 0.5rem 1rem 1rem 1rem;

  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input__div input {
  width: 100%;
}
.input__div span {
  color: red;
}
@media (max-width: 550px) {
  .input__div input {
    width: 90%;
    padding: 10px;
  }
}
